@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Merriweather:wght@300&display=swap');

*{padding: 0;
 margin: 0;
  border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Logo and heading styles */

h1,h2 {
  font-family: Merriweather,sans-serif ;
  letter-spacing: 2px;
  color: #99772e;
}

#logo{
  float: left;
  font-size:225%;
  margin-left: 20px;
}

/* NAV Links */
#menu{
 
  margin-left: 10px;
  font-size: 150%;
  letter-spacing: 2px;
  


}

#menu li {
  float: right;
  list-style-type: none;
  margin-right: 20px;

}

#menu a {
  text-decoration: none;
  color: inherit ;
}

#menu, #logo {
  line-height: 75px;
}

/* Nav Elements Style */
#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
  background-color: #99772e;
}

.active{
  border-bottom: 1px solid #3a3a3a ;
}


/* hero-image */

#hero-outer{
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;


}

#hero-image{
  height: 600px;
  width: 100%;
  background: url('../images/cms-bakery-solutions-sap-global-template-1920x500.webp') no-repeat center center;

  /*Animates zoom effect on loading page*/
animation-name: hero-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}



/* heading text on hero image */

#cover-text,#cover-text h2{
  color:white;


}

#cover-text{
  font-size: 110%;
  font-family: Merriweather,sans-serif ;
  letter-spacing :2px;

  width: 300px ;
  height: 150px;

  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(34, 139, 34, .7);

  bottom: 75px;
  right: 150px;

  position: absolute;
}

/* Hero Image level of zoom for animation*/

@keyframes hero-zoom{
  from{
transform: scale(1);
  }
  to{
transform: scale(1.1);
  }
}

/* Welcome text and opening times*/

#welcome{
  text-align: center;
  padding-top: ;
  font-size: 100%;
  width:90vw;
  height: 600px;
  margin-top: 35px;
}

#welcome h2, h3,p {
  padding-top: 20px;}